<div class="errorMessage">
    <div class="errorDiv">
        <span>

        	<f:if condition="{template}==0">
            	<f:translate key='tx_jsfaq_domain_model_faq.missing_configuration' />
            </f:if>

            <f:if condition="{template}==2">
            	<f:translate key='tx_jsfaq_domain_model_faq.include_template' />
            </f:if>

            <f:if condition="{template}==3">
                <f:translate key='tx_jsfaq_domain_model_faq.no_records' />
            </f:if>
            
        </span>
    </div>
</div>  