<f:layout name='Default'/>

<f:section name='main'>

	<div class="formLoading"></div>	

	<f:if condition="{template}==1">
		<f:then>
			<f:if condition="{detail}==0">
				<f:then>
					<f:if condition="{settings.main.displayFAQ}">
						<f:then>
							<f:render partial="Template/{settings.main.displayFAQ}" arguments="{FAQ:FAQ, settings:settings}" />
						</f:then>
						<f:else>
							<f:render partial="Template/Default" arguments="{FAQ:FAQ, settings:settings}" />
						</f:else>
					</f:if>
				</f:then>
				<f:else>
					<f:if condition="{FAQ}">
						<f:for each="{FAQ}" as="faq">
							<f:render partial="Template/Detail" arguments="{faq:faq}" />
						</f:for>
					</f:if>
				</f:else>
			</f:if>
		</f:then>
		<f:else>
			<f:render partial="Message/Template" arguments="{messages:template,settings:settings}" />
		</f:else>
	</f:if>

</f:section>