<f:layout name='Default'/>

<f:section name='main'>

	<div class="formLoading"></div>	

	<f:if condition="{template}==1">
		<f:then>
			<f:if condition="{detail}==0">
				<f:then>
					<f:if condition="{settings.main.displayFAQ}">
						<f:then>
							<f:render partial="Template/{settings.main.displayFAQ}" arguments="{FAQ:FAQ}" />
						</f:then>
						<f:else>
							<f:render partial="Template/Default" arguments="{FAQ:FAQ}" />
						</f:else>
					</f:if>
				</f:then>
				<f:else>
					<f:render partial="Template/Detail" arguments="{FAQ:FAQ}" />
				</f:else>
			</f:if>
		</f:then>
		<f:else>
			<f:render partial="Error/Template" arguments="{template:template}" />
		</f:else>
	</f:if>

</f:section>