{namespace pg=JS\JsFaq\ViewHelpers}

<f:for each="{FAQ.faq}" as="categoryGroup" key="number" >
	
	<div class="tx-jsfaq-category-faq">
	
		<div class="tx-category">

        	<h3>{categoryGroup.category}</h3>   

        	<div class="toggale">
        		<input type="button" category="{number}" class="tx-jsfaq-toggle-show-category-all" value="+">
        		<input type="button" category="{number}" class="tx-jsfaq-toggle-hide-category-all" value="-">
            </div>

        </div>

		<div class="tx-jsfaq-category-box category-box-{number}">

			<f:for each="{categoryGroup.faq}" as="faq">

				<div class="tx-jsfaq-box">
					
					<div class="tx-jsfaq-header tx-jsfaq-toggle-plus">
						{faq.question}
					</div>

					<div class="tx-jsfaq-details">

						<f:for each="{faq.answers}" as="answers">
							<f:if condition="{answers.options}==1">
								<f:then>
									<div class="tx-jsfaq-decription">
										<f:format.raw>{answers.description}</f:format.raw>
									</div>
								</f:then>
								<f:else>
									<div class="tx-jsfaq-image">
										<f:image src="uploads/tx_jsfaq/{answers.image}" width="150" height="150" alt="" />
									</div>
								</f:else>
							</f:if>
						</f:for>

						<f:if condition="{FAQ.setting.additionalInfo}=='1'">

							<div class="tx-jsfaq-additional-info">


								<f:if condition="{FAQ.setting.displayExpertInList}=='1'">

								 	<f:if condition="{faq.expert}>0">

										<div class="tx-jsfaq-expert">
											<label>
												<f:translate key='tx_jsfaq_domain_model_faq.label.expert' /> : 
											</label>
											<span>{faq.name} </span>
											<span><f:link.email email="{faq.email}" /></span>
											<span><f:link.external uri="{faq.url}" target="_blank">{faq.url}</f:link.external></span>
										</div>

									</f:if>

								</f:if>


								<f:if condition="{FAQ.setting.displayAskedByInList}=='1'">

									<f:if condition="{faq.asked_by}!=''">

										<div class="tx-jsfaq-asked-by">
											<label>
												<f:translate key='tx_jsfaq_domain_model_faq.label.question_asked_by' /> : 
												<span>{faq.asked_by}</span>
											</label>
										</div>

									</f:if>

								</f:if>


								<f:if condition="{FAQ.setting.displayCategoryInList}=='1'">

									<f:if condition="{faq.categoryName}!=''">

										<div class="tx-jsfaq-category">
											<label>
												<f:translate key='tx_jsfaq_domain_model_faq.label.Category' /> :
												<span>{faq.categoryName}</span>
											</label>
										</div>

									</f:if>

								</f:if>


								<f:if condition="{FAQ.setting.displayRelatedLinkInList}=='1'">

									<f:if condition="{faq.related_link}">

										<div class="tx-jsfaq-related-link-block">
											
											<label>
												<f:translate key='tx_jsfaq_domain_model_faq.label.related_links' />
											</label>

											<ul class="tx-jsfaq-related-links">
												
												<f:for each="{faq.related_link}" as="links">

													<li>
														<f:link.external uri="{links}" target="_blank">{links}</f:link.external>
													</li>
												
												</f:for>

											</ul>
										</div>
									
									</f:if>

								</f:if>


								<f:if condition="{FAQ.setting.displayRelatedFAQInList}=='1'">

									<f:if condition="{faq.related_faq}">

										<div class="tx-jsfaq-related-faq-block">
											
											<label>
												<f:translate key='tx_jsfaq_domain_model_faq.label.related_faq' />
											</label>
											
											<ul class="tx-jsfaq-related-faq">
											
												<f:for each="{faq.related_faq}" as="relatedFaq">

													<li>
														<a href="{relatedFaq.detailLink}" target="_blank">{relatedFaq.question}</a>
													</li>
												
												</f:for>

											</ul>

										</div>

									</f:if>

								</f:if>

							</div>

						</f:if>

					</div>

				</div>

			</f:for>
		
		</div>

	</div>

</f:for>