{namespace pg=JS\JsFaq\ViewHelpers}

<div class="tx-jsfaq-list" id="{settings.contentID}" >

	<f:if condition="{settings.showAllButton}">
		<div class="toggale">
			<input type="button" value="<f:translate key='label.showall' />" class="tx-jsfaq-toggle-show-all {settings.contentID}">
				/
			<input type="button" value="<f:translate key='label.hideall' />" class="tx-jsfaq-toggle-hide-all {settings.contentID}">
		</div>
	</f:if>

	<f:if condition="{settings.main.paginate}">
		<f:then>
			<pg:Paginate objects="{FAQ}" as="paginatedObjekt" configuration="{itemsPerPage: settings.main.recordPerPage, insertAbove: 0, insertBelow: 1, maximumNumberOfLinks: 4, maximumVisiblePages: 3}">
				<f:for each="{paginatedObjekt}" as="faq">
					<f:render partial="Template/FAQ" arguments="{faq:faq}" />
				</f:for>
			</pg:Paginate>
		</f:then>
		<f:else>
			<f:for each="{FAQ}" as="faq">
				<f:render partial="Template/FAQ" arguments="{faq:faq}" />
			</f:for>
		</f:else>
	</f:if>

</div>