<div class="tx-jsfaq-box">
			
	<div class="tx-jsfaq-header tx-jsfaq-toggle-plus">
		{faq.question}
	</div>

	<div class="tx-jsfaq-details">

		<f:for each="{faq.answers}" as="answers">
			<f:if condition="{answers.options}==1">
				<f:then>
					<div class="tx-jsfaq-decription">
						<f:format.html>{answers.description}</f:format.html>
					</div>
				</f:then>
				<f:else>
					<div class="tx-jsfaq-image">
						<f:if condition="{answers.image}>0">
							<f:for each="{answers.media.image}" as="img" iteration="itemIteration">
								<f:image src="{img.identifier}" width="{settings.list.image.width}" height="{settings.list.image.height}" alt="{faq.question}" title="{faq.question}" />
							</f:for>
						</f:if> 
					</div>
				</f:else>
			</f:if>
		</f:for>

		<f:if condition="{settings.list.display.additionalInfo}=='1'">

			<div class="tx-jsfaq-additional-info">

				<f:if condition="{settings.list.display.expert}">
					<f:render partial="AdditionalInfo/Expert" arguments="{_all}" />
				</f:if>

				<f:if condition="{settings.list.display.asked_by}">
					<f:render partial="AdditionalInfo/AskedBy" arguments="{_all}" />
				</f:if>

				<f:if condition="{settings.list.display.category}=='1'">
					<f:render partial="AdditionalInfo/Category" arguments="{_all}" />
				</f:if>

				<f:if condition="{settings.list.display.related_link}">
					<f:render partial="AdditionalInfo/RelatedLink" arguments="{_all}" />
				</f:if>

				<f:if condition="{settings.list.display.related_faq}">
					<f:render partial="AdditionalInfo/RelatedFaq" arguments="{_all}" />
				</f:if>

			</div>
		</f:if>
	</div>
</div>